:root {
    --color-background: #575757;
    --color-background-header: #373737;
    --color-background-footer: #373737;
    --color-font: #d2d2d2;
    --color-font-title: #66454d;
    --color-hyperlink: #ffb5c7;
    --color-hyperlink-hover: #e493a7;
    --color-hyperlink-clicked: #ff7d97;
    --color-border: #ffb5c7;
    --color-button-hover: #ffb5c711;
    --color-lightroom-link: #be4f4f;
    --color-lightroom-hover: #773030;
    --color-album: #dddddd;
    --color-album-background: #222222;
    --color-invisible: #37373700;
    --color-totop: #373737;
    --color-totop-font: #ffb5c7;
    --color-totop-border: #ffb5c7;
    --color-totop-hover: #373737;
    --color-scrollbar-track: #373737;
    --color-scrollbar-pill: #ffb5c7;
    --color-fullscreen-background: #373737aa;
}

html {
    scrollbar-color: var(--color-scrollbar-pill) var(--color-scrollbar-track);
}

* {
    font-size: 17px;
}

body {
    background-color: var(--color-background);
    color: var(--color-font);
    margin: 0px;
    overflow-x: hidden;
}

a {
    color: var(--color-hyperlink);
    text-decoration: none;
}

a:hover {
    color: var(--color-hyperlink-hover)
}

a:visited {
    color: var(--color-hyperlink-clicked);
}

.link-to-lightroom {
    width: 100%;
    margin: 1vh auto;
    border: none;
    height: 25px;
    text-align: center;
    color: var(--color-lightroom-link);
}

.link-to-lightroom:hover {
    color: var(--color-lightroom-hover);
}

.coming-soon-tm {
    text-align: center;
    color: var(--color-lightroom-hover);
    font-size: 5rem;
    font-weight: bold;
}

.footer,
.header {
    display: flex;
    justify-items: center;
    width: inherit;
    position: relative;
}

.header {
    justify-content: center;
    flex-direction: column;
    min-height: max-content;
    height: 15vh;
    min-height: 65px;
    padding: 0px;
    top: 0px;
    background-color: var(--color-background-header);
    border-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--color-border);
    box-shadow: var(--color-border) 0px 10px 10px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 3vh auto;
}

.footer {
    bottom: 0px;
    height: 20vh;
    min-height: max-content;
    padding-bottom: 1vh;
    margin-top: 30px;
    background-color: var(--color-background-footer);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    background: none;
    color: var(--color-font);
    border: none;
    width: 20vw;
    margin: 5px 0px;
    padding: 5px;
    min-width: max-content;
    border: solid 1px;
}

.nav-button:hover {
    background: linear-gradient(90deg, var(--color-invisible), var(--color-button-hover), var(--color-invisible));
    border-radius: 5px;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}


.photo-albums {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
}

.album-cover {
    aspect-ratio: 3 / 2;
    width: 100%;
}

.album-heading {
    color: var(--color-font-title);
    font-weight: bold;
    font-size: 1.25rem;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sport-images {
    max-width: 45vw;
    overflow: hidden;
    margin: 1rem;
}

.genre-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-bottom: auto;
    background-color: var(--color-album-background);
    text-align: center;
}

.album-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    margin-bottom: auto;
    background-color: var(--color-album-background);
    text-align: center;
}

.selections:hover,
.individual-album:hover {
    scale: 1.05;
}

.selections {
    display: block;
    align-content: center;
    text-align: center;
    width: 40vw;
    margin: 15px;
    background-color: var(--color-album);
}

.genre-title {
    align-self: center;
    text-align: center;
    font-weight: bolder;
    color: var(--color-font-title);
    font-size: 2rem;
    padding: 0px;
    margin: 2vh auto;
    height: 7vh;
    line-height: 7vh;
}

.slivers {
    width: 25%;
    aspect-ratio: 1 / 4;
    border: none;
    margin: 0px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.footer-left,
.footer-right {
    align-self: center;
    margin: 5px;
    padding: 0px;
}

.footer-left a {
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

.signature {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(90deg, var(--color-invisible) 25%, var(--color-border), var(--color-invisible) 75%) 60;
}

.separator {
    margin: auto 5px;
}

.copyright-year {
    margin-left: 5px;
}

.copyright {
    font-size: 10px;
    vertical-align: top;
}

.domain-landing,
.footer-right {
    height: 15vh;
    aspect-ratio: 1/2;
}

.footer-words {
    margin-bottom: 1px;
}

.quick-link-div {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#to-top-button {
    position: fixed;
    display: none;
    top: 0px;
    align-content: center;
    justify-content: center;
    z-index: 99;
    border: solid 1px var(--color-totop-border);
    border-top: none;
    outline: none;
    background-color: var(--color-totop);
    color: var(--color-totop-font);
    width: 200px;
    aspect-ratio: 5/1;
    border-radius: 0px 0px 100px 100px;
    box-shadow: var(--color-totop-border) 0px 5px 10px;
}

#to-top-button:hover {
    background-color: var(--color-totop-hover);
    color: var(--color-totop-font);
    border-color: var(--color-totop-border);
}

#fullpage {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-fullscreen-background);
    background-size: inherit;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    overflow-y: auto;
}

#fullscreen-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: initial;
    max-height: 75vh;
}

@media (max-width: 700px) {
    html {
        scrollbar-width: none;
    }

    .header {
        height: fit-content;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .genres {
        flex-direction: row;
        align-items: center;
    }

    .genres-box {
        text-align: center;
    }

    .selections {
        width: 90vw;
    }

    .nav-button {
        margin: 2px auto;
    }

    .photo-albums {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    .sport-images {
        min-width: 90vw;
    }

    .individual-album {
        width: 90vw;
    }

    .footer-right,
    .separator {
        display: none;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        padding: 3px;
        justify-content: center;
    }

    .footer-center {
        margin-top: 1vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: start;
        height: max-content;
        min-width: max-content;
    }

    .signature {
        display: grid;
        padding-right: 3px;
        text-align: end;
    }

    .footer-words {
        margin: 0px;
        padding: 0px;
    }

    .quick-link-div {
        display: grid;
        padding-right: 1vh;
        border-left: solid 2px var(--color-background);
    }

    .redirect {
        height: 17px;
        aspect-ratio: 1 / 1;
        padding: 1px;
    }
}