:root {
    --color-background: #aaaaaa;
    --color-background-header: #373737;
    --color-background-footer: #373737;
    --color-font: #d2d2d2;
    --color-font-title: #66454d;
    --color-hyperlink: #ffb5c7;
    --color-hyperlink-hover: #e493a7;
    --color-hyperlink-clicked: #ff7d97;
    --color-border: #ffb5c7;
    --color-button-hover: #ffb5c711;
    --color-lightroom-link: #be4f4f;
    --color-lightroom-hover: #773030;
    --color-album-background: #373737;
    --color-invisible: #37373700;
    --color-totop: #373737;
    --color-totop-font: #ffb5c7;
    --color-totop-border: #ffb5c7;
    --color-totop-hover: #ffb5c7;
    --color-totop-hover-border: #373737;
    --color-totop-hover-font: #373737;
}

* {
    font-size: 17px;
}

body {
    background-color: var(--color-background);
    color: var(--color-font);
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--color-hyperlink);
    text-decoration: none;
}

a:hover {
    color: var(--color-hyperlink-hover)
}

a:visited {
    color: var(--color-hyperlink-clicked);
}

.link-to-lightroom {
    width: 100%;
    margin: 1vh auto;
    border: none;
    height: 25px;
    text-align: center;
    color: var(--color-lightroom-link);
}

.link-to-lightroom:hover {
    color: var(--color-lightroom-hover);
}

.coming-soon-tm {
    text-align: center;
    color: var(--color-lightroom-hover);
    font-size: 5rem;
    font-weight: bold;
}

.footer,
.header {
    display: flex;
    justify-items: center;
    width: inherit;
    position: relative;
}

.header {
    justify-content: center;
    flex-direction: column;
    min-height: max-content;
    height: 15vh;
    padding: 0px;
    top: 0px;
    background-color: var(--color-background-header);
    border-width: 0px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-image: linear-gradient(var(--color-border) 99.5%, var(--color-background) 100%) 1;
}

.footer {
    bottom: 0px;
    height: 20vh;
    min-height: max-content;
    padding-bottom: 1vh;
    margin-top: 30px;
    background-color: var(--color-background-footer);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    text-align: center;
    line-height: 1rem;
    background: none;
    color: var(--color-font);
    border: none;
    width: 20vw;
    margin: 5px 0px;
    padding: 5px;
    min-width: 100px;
}

.nav-button:hover {
    background-color: var(--color-button-hover);
    border-radius: 5px;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 1rem auto;
}

.photo-albums {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-album {
    width: 40vw;
    text-align: center;
    background-color: var(--color-album-background);
}

.individual-album:hover {
    scale: 1.05;
    rotate: 5deg;
}

.album-cover {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sport-images {
    max-width: 45vw;
    overflow: hidden;
    margin: 1rem;
}

.genre-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-selection-container:hover {
    scale: 1.05;
    rotate: 5deg;
}

.selections {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 40vw;
    margin: 15px;
}

.genre-title {
    align-self: center;
    text-align: center;
    font-weight: bolder;
    color: var(--color-font-title);
    font-size: 2rem;
    margin: 2px;
    margin-top: 5px;
}

.slivers {
    width: 25%;
    aspect-ratio: 1 / 4;
    border: none;
    margin: -1px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.footer-left,
.footer-right {
    align-self: center;
    margin: 5px;
    padding: 0px;
}

.footer-left a {
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

.signature {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(90deg, var(--color-invisible) 25%, var(--color-border), var(--color-invisible) 75%) 60;
}

.separator {
    margin: auto 5px;
}

.copyright-year {
    margin-left: 5px;
}

.copyright {
    font-size: 10px;
    vertical-align: top;
}

.domain-landing,
.footer-right {
    height: 15vh;
    aspect-ratio: 1/2;
}

.footer-words {
    margin-bottom: 1px;
}

.quick-link-div {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#to-top-button {
    position: fixed;
    display: none;
    top: 20px;
    right: 30px;
    z-index: 99;
    border: solid 1px var(--color-totop-border);
    outline: none;
    background-color: var(--color-totop);
    color: var(--color-totop-font);
    border-radius: 5px;
    box-shadow: 0px 5px 5px 5px 5px red;
}

#to-top-button:hover {
    background-color: var(--color-totop-hover);
    color: var(--color-totop-hover-font);
    border-color: var(--color-totop-hover-border);
    
}


@media (max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .genres {
        flex-direction: row;
        align-items: center;
    }

    .genres-box {
        text-align: center;
    }

    .selections {
        width: 90vw;
    }

    .genre-selection-container {
        width: 90vw;
    }

    .nav-button {
        margin: 2px auto;
    }

    .photo-albums {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    .sport-images {
        min-width: 90vw;
    }

    .individual-album {
        width: 90vw;
    }

    .footer-right,
    .separator {
        display: none;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        padding: 3px;
        justify-content: center;
    }

    .footer-center {
        margin-top: 1vh;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: start;
        height: max-content;
        min-width: max-content;
    }

    .signature {
        display: grid;
        padding-right: 3px;
        text-align: end;
    }

    .footer-words {
        margin: 0px;
        padding: 0px;
    }

    .quick-link-div {
        display: grid;
        padding-right: 1vh;
        border-left: solid 2px var(--color-background);
    }

    .redirect {
        height: 17px;
        aspect-ratio: 1 / 1;
        padding: 1px;
    }
}